<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">sslpass</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/ssl-test</property>
        <property name="hibernate.connection.username">ssladmin</property>
        <property name="hibernate.default_schema">dbo</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        
         <mapping resource="src/main/resources/entities/PhoneNumberCondominium.hbm.xml" />
        <mapping resource="src/main/resources/entities/PhoneNumberVisitor.hbm.xml" />
        <mapping resource="src/main/resources/entities/AutenticationHistory.hbm.xml" />
        <mapping resource="src/main/resources/entities/PhoneNumberUserr.hbm.xml" />
        <mapping resource="src/main/resources/entities/ScheduledVisit.hbm.xml" />
        <mapping resource="src/main/resources/entities/ServiceProvision.hbm.xml" />
        <mapping resource="src/main/resources/entities/Vehicle.hbm.xml" />
        <mapping resource="src/main/resources/entities/Condominium.hbm.xml" />
        <mapping resource="src/main/resources/entities/Employee.hbm.xml" />
        <mapping resource="src/main/resources/entities/EnumStatusKind.hbm.xml" />
        <mapping resource="src/main/resources/entities/CondominiumAddress.hbm.xml" />
        <mapping resource="src/main/resources/entities/Userr.hbm.xml" />
        <mapping resource="src/main/resources/entities/Visitor.hbm.xml" />
        <mapping resource="src/main/resources/entities/PhoneNumberEmployee.hbm.xml" />
    </session-factory>
</hibernate-configuration>
